
<html>
    
    <header>
        <h1>Pauper's Reddit Lab</h1>
    </header>

    <body>

        <div class ="newDiv">
            <form #searchForm="ngForm" (ngSubmit)="getPost(searchForm.form.value.sub, +'1')">
                <label>Search for SubReddit</label><br>
                <input type="text" name="sub" placeholder="Search for SubReddit" ngModel/>
                <br>
                <input type="submit" value="Show Results"/>
            </form>
            </div>

            <div class="newDiv" *ngFor="let post of reddit.data.children|slice:0:1">
                <h2>{{post.data.title}}</h2>
                    <p>Author: {{post.data.author}}</p>
                    <p><img src="{{post.data.thumbnail}}"></p>
                    <p><a href="{{post.data.url}}">View Full Post</a></p>
    
                </div>
                <div *ngFor="let post of reddit.data.children; index as i">
                    <div class="newDiv" *ngIf="i < 10">
                        <h2>{{post.data.title}}</h2>
                        <p>Author: {{post.data.author}}</p>
                        <p><img src="{{post.data.thumbnail}}"></p>
                        <p><a href="{{post.data.url}}">View Full Post</a></p>
                    </div>
                </div>

                
    </body>
    </html>
